Flows/flows_LOT-NR_watchdog.json
[{"id":"e3dee416.c498b8","type":"tab","label":"LOT-NR Watchdog","disabled":false,"info":"This FLow checks all input values of the openhab \"lot_nr_new_room\" item and return the correct input to openHAB \"lot_nr_room item\""},{"id":"5a820b4f.5807c4","type":"openhab2-in","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room1","x":170,"y":60,"wires":[["d5dbd161.71dd4"],[]]},{"id":"d5dbd161.71dd4","type":"function","z":"e3dee416.c498b8","name":"","func":"var m_in = msg.payload;\nvar lot_nr = m_in.split(',');\nvar m_out=[]\nif(m_in.length < 1){\n    m_in = \"\";\n    msg ={payload:m_in,topic:msg.item};\n    return[null,msg];\n} \nelse {\nfor (i=0;i<lot_nr.length;i++){\n    var room = (lot_nr[i].charAt(6)+lot_nr[i].charAt(7));\n    if(room > 15 || room == 0){\n        lot_nr[i] = \"illegal-room-Nr\";\n    }\n    m_out.push(lot_nr[i]);\n}\nmsg = {payload:m_out,topic:msg.item};\nreturn[msg,null];\n}\n//msg.payload = m_out\n//return msg;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":500,"y":300,"wires":[["ef59f29c.d23ac"],["a2633f0e.cd31d"]]},{"id":"2ac9751b.e9670a","type":"openhab2-in","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room2","x":170,"y":100,"wires":[["d5dbd161.71dd4"],[]]},{"id":"a8e16cd.364f69","type":"openhab2-in","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room3","x":170,"y":140,"wires":[["d5dbd161.71dd4"],[]]},{"id":"330a8d16.889622","type":"function","z":"e3dee416.c498b8","name":"Weiche","func":"var lot_nr = msg.payload;\nvar condition = lot_nr.includes(\"illegal-room-Nr\");\nmessage = lot_nr.join();\nmsg = {payload:message,topic:msg.topic};\n\nif (condition){\n    return [null,msg];\n//}else if (msg.payload.length < 8){\n//    return [null,msg];\n}else {\n    return [msg,\"TRUE\"];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":840,"y":280,"wires":[["a2633f0e.cd31d"],["81c198d8.6fe3f8"]]},{"id":"ef59f29c.d23ac","type":"delay","z":"e3dee416.c498b8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":280,"wires":[["330a8d16.889622"]]},{"id":"12b0d005.feb45","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_room1","topic":"ItemCommand","payload":"","x":1230,"y":60,"wires":[[]]},{"id":"a2633f0e.cd31d","type":"function","z":"e3dee416.c498b8","name":"","func":"var item = msg.topic;\nvar room = (item.charAt(15)+item.charAt(16));\nif (room==\"1\"){\n    return [msg,null,null,null,null,null,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"2\"){\n    return [null,msg,null,null,null,null,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"3\"){\n    return [null,null,msg,null,null,null,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"4\"){\n    return [null,null,null,msg,null,null,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"5\"){\n    return [null,null,null,null,msg,null,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"6\"){\n    return [null,null,null,null,null,msg,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"7\"){\n    return [null,null,null,null,null,null,msg,null,null,null,null,null,null,null,null];\n}\nif (room==\"8\"){\n    return [null,null,null,null,null,null,null,msg,null,null,null,null,null,null,null];\n}\nif (room==\"9\"){\n    return [null,null,null,null,null,null,null,null,msg,null,null,null,null,null,null];\n}\nif (room==\"10\"){\n    return [null,null,null,null,null,null,null,null,null,msg,null,null,null,null,null];\n}\nif (room==\"11\"){\n    return [null,null,null,null,null,null,null,null,null,null,msg,null,null,null,null];\n}\nif (room==\"12\"){\n    return [null,null,null,null,null,null,null,null,null,null,null,msg,null,null,null];\n}\nif (room==\"13\"){\n    return [null,null,null,null,null,null,null,null,null,null,null,null,msg,null,null];\n}\nif (room==\"14\"){\n    return [null,null,null,null,null,null,null,null,null,null,null,null,null,msg,null];\n}\nif (room==\"15\"){\n    return [null,null,null,null,null,null,null,null,null,null,null,null,null,null,msg];\n}\n//var lot_nr = msg.payload;\n//var room = (lot_nr.charAt(6)+lot_nr.charAt(7));\n//\n//if (room==\"01\"){\n//    return [msg,null,null,null,null,null,null,null,null,null,null,null,null,null,null];\n//}\n//if (room==\"02\"){\n//    return [null,msg,null,null,null,null,null,null,null,null,null,null,null,null,null];\n//}\n//if (room==\"03\"){\n//    return [null,null,msg,null,null,null,null,null,null,null,null,null,null,null,null];\n//}\n//if (room==\"04\"){\n//    return [null,null,null,msg,null,null,null,null,null,null,null,null,null,null,null];\n//}\n//if (room==\"05\"){\n//    return [null,null,null,null,msg,null,null,null,null,null,null,null,null,null,null];\n//}\n//if (room==\"06\"){\n//    return [null,null,null,null,null,msg,null,null,null,null,null,null,null,null,null];\n//}\n//if (room==\"07\"){\n//    return [null,null,null,null,null,null,msg,null,null,null,null,null,null,null,null];\n//}\n//if (room==\"08\"){\n//    return [null,null,null,null,null,null,null,msg,null,null,null,null,null,null,null];\n//}\n//if (room==\"09\"){\n//    return [null,null,null,null,null,null,null,null,msg,null,null,null,null,null,null];\n//}\n//if (room==\"10\"){\n//    return [null,null,null,null,null,null,null,null,null,msg,null,null,null,null,null];\n//}\n//if (room==\"11\"){\n//    return [null,null,null,null,null,null,null,null,null,null,msg,null,null,null,null];\n//}\n//if (room==\"12\"){\n//    return [null,null,null,null,null,null,null,null,null,null,null,msg,null,null,null];\n//}\n//if (room==\"13\"){\n//    return [null,null,null,null,null,null,null,null,null,null,null,null,msg,null,null];\n//}\n//if (room==\"14\"){\n//    return [null,null,null,null,null,null,null,null,null,null,null,null,null,msg,null];\n//}\n//if (room==\"15\"){\n//    return [null,null,null,null,null,null,null,null,null,null,null,null,null,null,msg];\n//}","outputs":15,"noerr":0,"initialize":"","finalize":"","x":1000,"y":300,"wires":[["12b0d005.feb45"],["e74cce39.7f4d1"],["da84e57f.7c5958"],["db272fce.030d8"],["de3d4fbf.5ece8"],["4880669b.eb8838"],["4bff525.006e9ac"],["79e6b06c.3824e"],["6840802a.cbb72"],["486bb4b4.52acbc"],["1620026d.002dde"],["1acb0c89.e65fd3"],["89297f0b.fbc5b"],["453a330.5edf4cc"],["9596e632.436268"]]},{"id":"e74cce39.7f4d1","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_room2","topic":"ItemCommand","payload":"","x":1230,"y":100,"wires":[[]]},{"id":"da84e57f.7c5958","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_room3","topic":"ItemCommand","payload":"","x":1230,"y":140,"wires":[[]]},{"id":"db272fce.030d8","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_room4","topic":"ItemCommand","payload":"","x":1230,"y":180,"wires":[[]]},{"id":"de3d4fbf.5ece8","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_room5","topic":"ItemCommand","payload":"","x":1230,"y":220,"wires":[[]]},{"id":"4880669b.eb8838","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_room6","topic":"ItemCommand","payload":"","x":1230,"y":260,"wires":[[]]},{"id":"4bff525.006e9ac","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_room7","topic":"ItemCommand","payload":"","x":1230,"y":300,"wires":[[]]},{"id":"79e6b06c.3824e","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_room8","topic":"ItemCommand","payload":"","x":1230,"y":340,"wires":[[]]},{"id":"6840802a.cbb72","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_room9","topic":"ItemCommand","payload":"","x":1230,"y":380,"wires":[[]]},{"id":"486bb4b4.52acbc","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_room10","topic":"ItemCommand","payload":"","x":1240,"y":420,"wires":[[]]},{"id":"1620026d.002dde","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_room11","topic":"ItemCommand","payload":"","x":1240,"y":460,"wires":[[]]},{"id":"1acb0c89.e65fd3","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_room12","topic":"ItemCommand","payload":"","x":1240,"y":500,"wires":[[]]},{"id":"89297f0b.fbc5b","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_room13","topic":"ItemCommand","payload":"","x":1240,"y":540,"wires":[[]]},{"id":"453a330.5edf4cc","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_room14","topic":"ItemCommand","payload":"","x":1240,"y":580,"wires":[[]]},{"id":"9596e632.436268","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_room15","topic":"ItemCommand","payload":"","x":1240,"y":620,"wires":[[]]},{"id":"b08b52c6.34ea8","type":"inject","z":"e3dee416.c498b8","name":"Testing inputs","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"lot_nr_new_room1","payload":"","payloadType":"str","x":190,"y":680,"wires":[["d5dbd161.71dd4"]]},{"id":"81c198d8.6fe3f8","type":"function","z":"e3dee416.c498b8","name":"","func":"var item = msg.topic;\nvar room = (item.charAt(15)+item.charAt(16));\nif (room==\"1\"){\n    return [msg,null,null,null,null,null,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"2\"){\n    return [null,msg,null,null,null,null,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"3\"){\n    return [null,null,msg,null,null,null,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"4\"){\n    return [null,null,null,msg,null,null,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"5\"){\n    return [null,null,null,null,msg,null,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"6\"){\n    return [null,null,null,null,null,msg,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"7\"){\n    return [null,null,null,null,null,null,msg,null,null,null,null,null,null,null,null];\n}\nif (room==\"8\"){\n    return [null,null,null,null,null,null,null,msg,null,null,null,null,null,null,null];\n}\nif (room==\"9\"){\n    return [null,null,null,null,null,null,null,null,msg,null,null,null,null,null,null];\n}\nif (room==\"10\"){\n    return [null,null,null,null,null,null,null,null,null,msg,null,null,null,null,null];\n}\nif (room==\"11\"){\n    return [null,null,null,null,null,null,null,null,null,null,msg,null,null,null,null];\n}\nif (room==\"12\"){\n    return [null,null,null,null,null,null,null,null,null,null,null,msg,null,null,null];\n}\nif (room==\"13\"){\n    return [null,null,null,null,null,null,null,null,null,null,null,null,msg,null,null];\n}\nif (room==\"14\"){\n    return [null,null,null,null,null,null,null,null,null,null,null,null,null,msg,null];\n}\nif (room==\"15\"){\n    return [null,null,null,null,null,null,null,null,null,null,null,null,null,null,msg];\n}","outputs":15,"noerr":0,"initialize":"","finalize":"","x":1000,"y":940,"wires":[["b7021678.79f348"],["d58616e8.362538"],["1f127cdb.e8a7a3"],["a64916ee.550ba8"],["41359cff.63fc64"],["ea90961b.ee4ea8"],["b11bb835.ccb2b8"],["98700d88.5dac7"],["f51081b9.0130b"],["5568db.6b4f6724"],["e809bc3a.b0563"],["ccdd7ca.162098"],["62181f0e.55f51"],["4847204d.dd78d"],["3fa753de.7b1dec"]]},{"id":"b7021678.79f348","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room1","topic":"ItemCommand","payload":"","x":1250,"y":680,"wires":[[]]},{"id":"d58616e8.362538","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room2","topic":"ItemCommand","payload":"","x":1250,"y":720,"wires":[[]]},{"id":"1f127cdb.e8a7a3","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room3","topic":"ItemCommand","payload":"","x":1250,"y":760,"wires":[[]]},{"id":"db1d0f43.fd981","type":"openhab2-in","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_timestamp_room1","x":190,"y":1260,"wires":[[],[]]},{"id":"e522cdde.6ae02","type":"openhab2-in","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_timestamp_room2","x":190,"y":1300,"wires":[[],[]]},{"id":"cc30a149.88bd9","type":"openhab2-in","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_timestamp_room3","x":190,"y":1340,"wires":[[],[]]},{"id":"6f943707.450518","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_timestamp_room1","topic":"ItemCommand","payload":"","x":1270,"y":1300,"wires":[[]]},{"id":"6a325352.f2fe6c","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_timestamp_room2","topic":"ItemCommand","payload":"","x":1270,"y":1340,"wires":[[]]},{"id":"a8c8991d.d18fb8","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_timestamp_room3","topic":"ItemCommand","payload":"","x":1270,"y":1380,"wires":[[]]},{"id":"746cdc20.453284","type":"function","z":"e3dee416.c498b8","name":"","func":"msg.payload = new Date(msg.payload).getTime();\nvar newtimestamp= msg.payload.toString();\nmsg = {payload:newtimestamp,topic:msg.item};\nreturn msg;\n//https://discourse.nodered.org/t/playing-with-timestamps/3222/7\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":1300,"wires":[["d58e45ea.9ad308"]]},{"id":"d58e45ea.9ad308","type":"debug","z":"e3dee416.c498b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":1300,"wires":[]},{"id":"e536bf98.6a203","type":"inject","z":"e3dee416.c498b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":540,"y":1300,"wires":[["746cdc20.453284"]]},{"id":"df842b9d.837528","type":"openhab2-in","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room4","x":170,"y":180,"wires":[["d5dbd161.71dd4"],[]]},{"id":"30d7e8ed.8b6028","type":"openhab2-in","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room5","x":170,"y":220,"wires":[["d5dbd161.71dd4"],[]]},{"id":"df359c60.ed1bc","type":"openhab2-in","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room6","x":170,"y":260,"wires":[["d5dbd161.71dd4"],[]]},{"id":"85add6d5.19fd58","type":"openhab2-in","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room7","x":170,"y":300,"wires":[["d5dbd161.71dd4"],[]]},{"id":"6f57566c.2f0c08","type":"openhab2-in","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room8","x":170,"y":340,"wires":[["d5dbd161.71dd4"],[]]},{"id":"43114d54.945fc4","type":"openhab2-in","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room9","x":170,"y":380,"wires":[["d5dbd161.71dd4"],[]]},{"id":"91b06f7c.5b147","type":"openhab2-in","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room10","x":170,"y":420,"wires":[["d5dbd161.71dd4"],[]]},{"id":"6829cb75.a8d684","type":"openhab2-in","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room11","x":170,"y":460,"wires":[["d5dbd161.71dd4"],[]]},{"id":"d7c75ea.bdddea","type":"openhab2-in","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room12","x":170,"y":500,"wires":[["d5dbd161.71dd4"],[]]},{"id":"51ae2c1.99c2fd4","type":"openhab2-in","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room13","x":170,"y":540,"wires":[["d5dbd161.71dd4"],[]]},{"id":"2092ca52.c81fc6","type":"openhab2-in","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room14","x":170,"y":580,"wires":[["d5dbd161.71dd4"],[]]},{"id":"d878c3fc.097a8","type":"openhab2-in","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room15","x":170,"y":620,"wires":[["d5dbd161.71dd4"],[]]},{"id":"a64916ee.550ba8","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room4","topic":"ItemCommand","payload":"","x":1250,"y":800,"wires":[[]]},{"id":"41359cff.63fc64","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room5","topic":"ItemCommand","payload":"","x":1250,"y":840,"wires":[[]]},{"id":"ea90961b.ee4ea8","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room6","topic":"ItemCommand","payload":"","x":1250,"y":880,"wires":[[]]},{"id":"b11bb835.ccb2b8","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room7","topic":"ItemCommand","payload":"","x":1250,"y":920,"wires":[[]]},{"id":"98700d88.5dac7","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room8","topic":"ItemCommand","payload":"","x":1250,"y":960,"wires":[[]]},{"id":"f51081b9.0130b","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room9","topic":"ItemCommand","payload":"","x":1250,"y":1000,"wires":[[]]},{"id":"5568db.6b4f6724","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room10","topic":"ItemCommand","payload":"","x":1260,"y":1040,"wires":[[]]},{"id":"e809bc3a.b0563","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room11","topic":"ItemCommand","payload":"","x":1250,"y":1080,"wires":[[]]},{"id":"ccdd7ca.162098","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room12","topic":"ItemCommand","payload":"","x":1260,"y":1120,"wires":[[]]},{"id":"62181f0e.55f51","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room13","topic":"ItemCommand","payload":"","x":1260,"y":1160,"wires":[[]]},{"id":"4847204d.dd78d","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room14","topic":"ItemCommand","payload":"","x":1260,"y":1200,"wires":[[]]},{"id":"3fa753de.7b1dec","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room15","topic":"ItemCommand","payload":"","x":1260,"y":1240,"wires":[[]]},{"id":"fef22581.97f048","type":"openhab2-controller","z":"","name":"Digital Production","protocol":"http","host":"localhost","port":"8080","path":"","username":"","password":""}]
