Flows/flows.json
[{"id":"583f4533.735a4c","type":"tab","label":"LOT-NR Watchdog","disabled":false,"info":"This FLow checks all input values of the openhab \"lot_nr_new_room\" item and return the correct input to openHAB \"lot_nr_room item\"\nAdditional it resets the lot_nr_timestamp_room item when the operator resets the lot_nr (empty imput)"},{"id":"219bf9c6.2c1de6","type":"openhab2-in","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_new_room1","x":170,"y":60,"wires":[["cea0d00e.254c4"],[]]},{"id":"7b1f1749.58b8a8","type":"function","z":"583f4533.735a4c","name":"valid room-nr","func":"var m_in = msg.payload;\nvar lot_nr = m_in.split(',');\nvar m_out=[]\nif(m_in.length < 1 ){\n    m_in = \"\";\n    msg ={payload:m_in,topic:msg.item};\n    return[null,msg];\n} \nelse {\nfor (i=0;i<lot_nr.length;i++){\n    var room = (lot_nr[i].substring(lot_nr[i].length - 2, lot_nr[i].length));\n    if(room > 15 || room == 0){\n        lot_nr[i] = \"illegal-room-Nr\";\n    }\n    m_out.push(lot_nr[i]);\n}\nmsg = {payload:m_out.join(),topic:msg.item};\nreturn[msg,null];\n}\n//msg.payload = m_out\n//return msg;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":710,"y":300,"wires":[["7f7be783.1bd298"],["13a1a975.b7ad57","28c4e507.b62dba"]]},{"id":"6889a264.b239bc","type":"openhab2-in","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_new_room2","x":170,"y":100,"wires":[["cea0d00e.254c4"],[]]},{"id":"d6bfbd8a.7b432","type":"openhab2-in","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_new_room3","x":170,"y":140,"wires":[["cea0d00e.254c4"],[]]},{"id":"7f7be783.1bd298","type":"delay","z":"583f4533.735a4c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":220,"wires":[["2a80d1c3.db74ce"]]},{"id":"13a1a975.b7ad57","type":"function","z":"583f4533.735a4c","name":"","func":"var item = msg.topic;\nvar room =(item.charAt(15)+item.charAt(16));\n\nif (room==\"1\"){\n    return [msg,null,null,null,null,null,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"2\"){\n    return [null,msg,null,null,null,null,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"3\"){\n    return [null,null,msg,null,null,null,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"4\"){\n    return [null,null,null,msg,null,null,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"5\"){\n    return [null,null,null,null,msg,null,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"6\"){\n    return [null,null,null,null,null,msg,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"7\"){\n    return [null,null,null,null,null,null,msg,null,null,null,null,null,null,null,null];\n}\nif (room==\"8\"){\n    return [null,null,null,null,null,null,null,msg,null,null,null,null,null,null,null];\n}\nif (room==\"9\"){\n    return [null,null,null,null,null,null,null,null,msg,null,null,null,null,null,null];\n}\nif (room==\"10\"){\n    return [null,null,null,null,null,null,null,null,null,msg,null,null,null,null,null];\n}\nif (room==\"11\"){\n    return [null,null,null,null,null,null,null,null,null,null,msg,null,null,null,null];\n}\nif (room==\"12\"){\n    return [null,null,null,null,null,null,null,null,null,null,null,msg,null,null,null];\n}\nif (room==\"13\"){\n    return [null,null,null,null,null,null,null,null,null,null,null,null,msg,null,null];\n}\nif (room==\"14\"){\n    return [null,null,null,null,null,null,null,null,null,null,null,null,null,msg,null];\n}\nif (room==\"15\"){\n    return [null,null,null,null,null,null,null,null,null,null,null,null,null,null,msg];\n}","outputs":15,"noerr":0,"initialize":"","finalize":"","x":1140,"y":300,"wires":[["d647459f.515318"],["1943f7cb.eef788"],["23988fda.151b8"],["7449ee9d.b0cde"],["22304aec.9fd066"],["d4139d05.0010e"],["35107f87.32961"],["5c441f7b.32d6c"],["98ef59e3.dd2be8"],["eaa7594.f3f87a8"],["c7f9a0a3.b1964"],["badbb8e7.5536d8"],["a99821a9.ca768"],["df05eb98.adf0c8"],["74ae2204.f2f86c"]]},{"id":"2513aa94.6e9066","type":"function","z":"583f4533.735a4c","name":"","func":"var item = msg.topic;\nvar room = (item.charAt(15)+item.charAt(16));\nif (room==\"1\"){\n    return [msg,null,null,null,null,null,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"2\"){\n    return [null,msg,null,null,null,null,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"3\"){\n    return [null,null,msg,null,null,null,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"4\"){\n    return [null,null,null,msg,null,null,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"5\"){\n    return [null,null,null,null,msg,null,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"6\"){\n    return [null,null,null,null,null,msg,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"7\"){\n    return [null,null,null,null,null,null,msg,null,null,null,null,null,null,null,null];\n}\nif (room==\"8\"){\n    return [null,null,null,null,null,null,null,msg,null,null,null,null,null,null,null];\n}\nif (room==\"9\"){\n    return [null,null,null,null,null,null,null,null,msg,null,null,null,null,null,null];\n}\nif (room==\"10\"){\n    return [null,null,null,null,null,null,null,null,null,msg,null,null,null,null,null];\n}\nif (room==\"11\"){\n    return [null,null,null,null,null,null,null,null,null,null,msg,null,null,null,null];\n}\nif (room==\"12\"){\n    return [null,null,null,null,null,null,null,null,null,null,null,msg,null,null,null];\n}\nif (room==\"13\"){\n    return [null,null,null,null,null,null,null,null,null,null,null,null,msg,null,null];\n}\nif (room==\"14\"){\n    return [null,null,null,null,null,null,null,null,null,null,null,null,null,msg,null];\n}\nif (room==\"15\"){\n    return [null,null,null,null,null,null,null,null,null,null,null,null,null,null,msg];\n}","outputs":15,"noerr":0,"initialize":"","finalize":"","x":1140,"y":940,"wires":[["e0ee75ac.d7ebb8"],["d1cd7228.8fd23"],["7233004d.cf212"],["5a3e6685.f46aa8"],["87233b66.0f9e48"],["1871f38b.c10f8c"],["6a6c934.e1f616c"],["5f741683.e6d288"],["c6728f3f.7a865"],["a31e9874.8d7c58"],["399d32ba.a8919e"],["33ba7b53.3f7f24"],["806bf515.1907c8"],["7ec12f9a.a32ef"],["945df0d6.5a4c3"]]},{"id":"e0ee75ac.d7ebb8","type":"openhab2-out","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_new_room1","topic":"ItemCommand","payload":"","x":1390,"y":680,"wires":[[]]},{"id":"d1cd7228.8fd23","type":"openhab2-out","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_new_room2","topic":"ItemCommand","payload":"","x":1390,"y":720,"wires":[[]]},{"id":"c2855be7.8a0428","type":"openhab2-in","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_new_room4","x":170,"y":180,"wires":[["cea0d00e.254c4"],[]]},{"id":"789c16d8.2fd0f8","type":"openhab2-in","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_new_room5","x":170,"y":220,"wires":[["cea0d00e.254c4"],[]]},{"id":"aa16e820.75d918","type":"openhab2-in","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_new_room6","x":170,"y":260,"wires":[["cea0d00e.254c4"],[]]},{"id":"d4bae20c.8c304","type":"openhab2-in","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_new_room7","x":170,"y":300,"wires":[["cea0d00e.254c4"],[]]},{"id":"db89b74a.6f7a48","type":"openhab2-in","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_new_room8","x":170,"y":340,"wires":[["cea0d00e.254c4"],[]]},{"id":"ebb5e9c9.21c058","type":"openhab2-in","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_new_room9","x":170,"y":380,"wires":[["cea0d00e.254c4"],[]]},{"id":"9cd52b5a.3606c8","type":"openhab2-in","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_new_room10","x":170,"y":420,"wires":[["cea0d00e.254c4"],[]]},{"id":"dce1cb57.2582d8","type":"openhab2-in","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_new_room11","x":170,"y":460,"wires":[["cea0d00e.254c4"],[]]},{"id":"42fc6e06.4e5fd","type":"openhab2-in","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_new_room12","x":170,"y":500,"wires":[["cea0d00e.254c4"],[]]},{"id":"f84e28cc.af36d8","type":"openhab2-in","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_new_room13","x":170,"y":540,"wires":[["cea0d00e.254c4"],[]]},{"id":"774f199c.82b548","type":"openhab2-in","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_new_room14","x":170,"y":580,"wires":[["cea0d00e.254c4"],[]]},{"id":"6fd627c2.3ecbe8","type":"openhab2-in","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_new_room15","x":170,"y":620,"wires":[["cea0d00e.254c4"],[]]},{"id":"5a3e6685.f46aa8","type":"openhab2-out","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_new_room4","topic":"ItemCommand","payload":"","x":1390,"y":800,"wires":[[]]},{"id":"87233b66.0f9e48","type":"openhab2-out","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_new_room5","topic":"ItemCommand","payload":"","x":1390,"y":840,"wires":[[]]},{"id":"1871f38b.c10f8c","type":"openhab2-out","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_new_room6","topic":"ItemCommand","payload":"","x":1390,"y":880,"wires":[[]]},{"id":"6a6c934.e1f616c","type":"openhab2-out","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_new_room7","topic":"ItemCommand","payload":"","x":1390,"y":920,"wires":[[]]},{"id":"5f741683.e6d288","type":"openhab2-out","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_new_room8","topic":"ItemCommand","payload":"","x":1390,"y":960,"wires":[[]]},{"id":"c6728f3f.7a865","type":"openhab2-out","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_new_room9","topic":"ItemCommand","payload":"","x":1390,"y":1000,"wires":[[]]},{"id":"a31e9874.8d7c58","type":"openhab2-out","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_new_room10","topic":"ItemCommand","payload":"","x":1390,"y":1040,"wires":[[]]},{"id":"399d32ba.a8919e","type":"openhab2-out","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_new_room11","topic":"ItemCommand","payload":"","x":1390,"y":1080,"wires":[[]]},{"id":"33ba7b53.3f7f24","type":"openhab2-out","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_new_room12","topic":"ItemCommand","payload":"","x":1390,"y":1120,"wires":[[]]},{"id":"806bf515.1907c8","type":"openhab2-out","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_new_room13","topic":"ItemCommand","payload":"","x":1390,"y":1160,"wires":[[]]},{"id":"7ec12f9a.a32ef","type":"openhab2-out","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_new_room14","topic":"ItemCommand","payload":"","x":1390,"y":1200,"wires":[[]]},{"id":"945df0d6.5a4c3","type":"openhab2-out","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_new_room15","topic":"ItemCommand","payload":"","x":1390,"y":1240,"wires":[[]]},{"id":"cea0d00e.254c4","type":"switch","z":"583f4533.735a4c","name":"=! illegal-room-Nr","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"illegal-room-Nr","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":300,"wires":[["5c6e3b89.21c6a4"]]},{"id":"7233004d.cf212","type":"openhab2-out","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_new_room3","topic":"ItemCommand","payload":"","x":1390,"y":760,"wires":[[]]},{"id":"2a80d1c3.db74ce","type":"switch","z":"583f4533.735a4c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"illegal-room-Nr","vt":"str"},{"t":"nempty"}],"checkall":"false","repair":false,"outputs":2,"x":890,"y":280,"wires":[["2513aa94.6e9066"],["13a1a975.b7ad57"]]},{"id":"d647459f.515318","type":"openhab2-out","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_room1","topic":"ItemCommand","payload":"","x":1370,"y":40,"wires":[[]]},{"id":"1943f7cb.eef788","type":"openhab2-out","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_room2","topic":"ItemCommand","payload":"","x":1370,"y":80,"wires":[[]]},{"id":"23988fda.151b8","type":"openhab2-out","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_room3","topic":"ItemCommand","payload":"","x":1370,"y":120,"wires":[[]]},{"id":"7449ee9d.b0cde","type":"openhab2-out","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_room4","topic":"ItemCommand","payload":"","x":1370,"y":160,"wires":[[]]},{"id":"22304aec.9fd066","type":"openhab2-out","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_room5","topic":"ItemCommand","payload":"","x":1370,"y":200,"wires":[[]]},{"id":"d4139d05.0010e","type":"openhab2-out","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_room6","topic":"ItemCommand","payload":"","x":1370,"y":240,"wires":[[]]},{"id":"35107f87.32961","type":"openhab2-out","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_room7","topic":"ItemCommand","payload":"","x":1370,"y":280,"wires":[[]]},{"id":"5c441f7b.32d6c","type":"openhab2-out","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_room8","topic":"ItemCommand","payload":"","x":1370,"y":320,"wires":[[]]},{"id":"98ef59e3.dd2be8","type":"openhab2-out","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_room9","topic":"ItemCommand","payload":"","x":1370,"y":360,"wires":[[]]},{"id":"eaa7594.f3f87a8","type":"openhab2-out","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_room10","topic":"ItemCommand","payload":"","x":1380,"y":400,"wires":[[]]},{"id":"c7f9a0a3.b1964","type":"openhab2-out","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_room11","topic":"ItemCommand","payload":"","x":1380,"y":440,"wires":[[]]},{"id":"badbb8e7.5536d8","type":"openhab2-out","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_room12","topic":"ItemCommand","payload":"","x":1380,"y":480,"wires":[[]]},{"id":"a99821a9.ca768","type":"openhab2-out","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_room13","topic":"ItemCommand","payload":"","x":1380,"y":520,"wires":[[]]},{"id":"df05eb98.adf0c8","type":"openhab2-out","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_room14","topic":"ItemCommand","payload":"","x":1380,"y":560,"wires":[[]]},{"id":"74ae2204.f2f86c","type":"openhab2-out","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_room15","topic":"ItemCommand","payload":"","x":1380,"y":600,"wires":[[]]},{"id":"28c4e507.b62dba","type":"function","z":"583f4533.735a4c","name":"","func":"var item = msg.topic;\nvar room = (item.charAt(15)+item.charAt(16));\nif (room==\"1\"){\n    return [msg,null,null,null,null,null,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"2\"){\n    return [null,msg,null,null,null,null,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"3\"){\n    return [null,null,msg,null,null,null,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"4\"){\n    return [null,null,null,msg,null,null,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"5\"){\n    return [null,null,null,null,msg,null,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"6\"){\n    return [null,null,null,null,null,msg,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"7\"){\n    return [null,null,null,null,null,null,msg,null,null,null,null,null,null,null,null];\n}\nif (room==\"8\"){\n    return [null,null,null,null,null,null,null,msg,null,null,null,null,null,null,null];\n}\nif (room==\"9\"){\n    return [null,null,null,null,null,null,null,null,msg,null,null,null,null,null,null];\n}\nif (room==\"10\"){\n    return [null,null,null,null,null,null,null,null,null,msg,null,null,null,null,null];\n}\nif (room==\"11\"){\n    return [null,null,null,null,null,null,null,null,null,null,msg,null,null,null,null];\n}\nif (room==\"12\"){\n    return [null,null,null,null,null,null,null,null,null,null,null,msg,null,null,null];\n}\nif (room==\"13\"){\n    return [null,null,null,null,null,null,null,null,null,null,null,null,msg,null,null];\n}\nif (room==\"14\"){\n    return [null,null,null,null,null,null,null,null,null,null,null,null,null,msg,null];\n}\nif (room==\"15\"){\n    return [null,null,null,null,null,null,null,null,null,null,null,null,null,null,msg];\n}","outputs":15,"noerr":0,"initialize":"","finalize":"","x":1140,"y":1580,"wires":[["225c50fd.4b173"],["dc5995ad.a5f088"],["7b75cd0b.657904"],["298a2b1e.22b634"],["b91405d8.1e8158"],["a621e66d.d8df98"],["7e6218c3.318778"],["2a78c1e5.4c2e1e"],["9676693d.1759e8"],["77e0dd88.2573e4"],["9ea746fe.c45dd8"],["b71310bc.f2eb7"],["3465f03c.6eff2"],["d7c01ea9.95bf1"],["225844ed.63174c"]]},{"id":"225c50fd.4b173","type":"openhab2-out","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_timestamp_room1","topic":"ItemCommand","payload":"","x":1410,"y":1300,"wires":[[]]},{"id":"dc5995ad.a5f088","type":"openhab2-out","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_timestamp_room2","topic":"ItemCommand","payload":"","x":1410,"y":1340,"wires":[[]]},{"id":"7b75cd0b.657904","type":"openhab2-out","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_timestamp_room3","topic":"ItemCommand","payload":"","x":1410,"y":1380,"wires":[[]]},{"id":"298a2b1e.22b634","type":"openhab2-out","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_timestamp_room4","topic":"ItemCommand","payload":"","x":1410,"y":1420,"wires":[[]]},{"id":"b91405d8.1e8158","type":"openhab2-out","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_timestamp_room5","topic":"ItemCommand","payload":"","x":1410,"y":1460,"wires":[[]]},{"id":"a621e66d.d8df98","type":"openhab2-out","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_timestamp_room6","topic":"ItemCommand","payload":"","x":1410,"y":1500,"wires":[[]]},{"id":"7e6218c3.318778","type":"openhab2-out","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_timestamp_room7","topic":"ItemCommand","payload":"","x":1410,"y":1540,"wires":[[]]},{"id":"2a78c1e5.4c2e1e","type":"openhab2-out","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_timestamp_room8","topic":"ItemCommand","payload":"","x":1410,"y":1580,"wires":[[]]},{"id":"225844ed.63174c","type":"openhab2-out","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_timestamp_room15","topic":"ItemCommand","payload":"","x":1410,"y":1860,"wires":[[]]},{"id":"9676693d.1759e8","type":"openhab2-out","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_timestamp_room9","topic":"ItemCommand","payload":"","x":1410,"y":1620,"wires":[[]]},{"id":"77e0dd88.2573e4","type":"openhab2-out","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_timestamp_room10","topic":"ItemCommand","payload":"","x":1410,"y":1660,"wires":[[]]},{"id":"9ea746fe.c45dd8","type":"openhab2-out","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_timestamp_room11","topic":"ItemCommand","payload":"","x":1410,"y":1700,"wires":[[]]},{"id":"b71310bc.f2eb7","type":"openhab2-out","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_timestamp_room12","topic":"ItemCommand","payload":"","x":1410,"y":1740,"wires":[[]]},{"id":"3465f03c.6eff2","type":"openhab2-out","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_timestamp_room13","topic":"ItemCommand","payload":"","x":1410,"y":1780,"wires":[[]]},{"id":"d7c01ea9.95bf1","type":"openhab2-out","z":"583f4533.735a4c","name":"","controller":"3dd02e49.8ceca2","itemname":"lot_nr_timestamp_room14","topic":"ItemCommand","payload":"","x":1410,"y":1820,"wires":[[]]},{"id":"5c6e3b89.21c6a4","type":"rbe","z":"583f4533.735a4c","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":590,"y":260,"wires":[["7b1f1749.58b8a8"]]},{"id":"3dd02e49.8ceca2","type":"openhab2-controller","z":"","name":"Digital Production","protocol":"http","host":"localhost","port":"8080","path":"","username":"","password":""}]