Flows/flows.json
[{"id":"e3dee416.c498b8","type":"tab","label":"LOT-NR Watchdog","disabled":false,"info":"This FLow checks all input values of the openhab \"lot_nr_new_room\" item and return the correct input to openHAB \"lot_nr_room item\""},{"id":"9c64235d.6d5cc","type":"tab","label":"Timestamp","disabled":false,"info":""},{"id":"53aa0fd3.fabf8","type":"tab","label":"Liftansteuerung","disabled":false,"info":""},{"id":"fef22581.97f048","type":"openhab2-controller","z":"","name":"Digital Production","protocol":"http","host":"localhost","port":"8080","path":"","username":"","password":""},{"id":"5a820b4f.5807c4","type":"openhab2-in","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room1","x":170,"y":60,"wires":[["ee71851.3b97a78"],[]]},{"id":"d5dbd161.71dd4","type":"function","z":"e3dee416.c498b8","name":"","func":"var m_in = msg.payload;\nvar lot_nr = m_in.split(',');\nvar m_out=[]\nif(m_in.length < 1 ){\n    m_in = \"\";\n    msg ={payload:m_in,topic:msg.item};\n    return[null,msg];\n} \nelse {\nfor (i=0;i<lot_nr.length;i++){\n    var room = (lot_nr[i].charAt(8)+lot_nr[i].charAt(9));\n    if(room > 15 || room == 0){\n        lot_nr[i] = \"illegal-room-Nr\";\n    }\n    m_out.push(lot_nr[i]);\n}\nmsg = {payload:m_out,topic:msg.item};\nreturn[msg,null];\n}\n//msg.payload = m_out\n//return msg;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":640,"y":300,"wires":[["ef59f29c.d23ac"],["a2633f0e.cd31d"]]},{"id":"2ac9751b.e9670a","type":"openhab2-in","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room2","x":170,"y":100,"wires":[["ee71851.3b97a78"],[]]},{"id":"a8e16cd.364f69","type":"openhab2-in","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room3","x":170,"y":140,"wires":[["ee71851.3b97a78"],[]]},{"id":"330a8d16.889622","type":"function","z":"e3dee416.c498b8","name":"Weiche","func":"var lot_nr = msg.payload;\nvar condition = lot_nr.includes(\"illegal-room-Nr\");\nmessage = lot_nr.join();\nmsg = {payload:message,topic:msg.topic};\n\nif (condition){\n    return [null,msg];\n//}else if (msg.payload.length < 8){\n//    return [null,msg];\n}else {\n    return [msg,\"TRUE\"];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":980,"y":280,"wires":[["a2633f0e.cd31d"],["81c198d8.6fe3f8"]]},{"id":"ef59f29c.d23ac","type":"delay","z":"e3dee416.c498b8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":800,"y":280,"wires":[["330a8d16.889622"]]},{"id":"12b0d005.feb45","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_room1","topic":"ItemCommand","payload":"","x":1370,"y":60,"wires":[[]]},{"id":"a2633f0e.cd31d","type":"function","z":"e3dee416.c498b8","name":"","func":"var item = msg.topic;\nvar room = (item.charAt(15)+item.charAt(16));\nif (room==\"1\"){\n    return [msg,null,null,null,null,null,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"2\"){\n    return [null,msg,null,null,null,null,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"3\"){\n    return [null,null,msg,null,null,null,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"4\"){\n    return [null,null,null,msg,null,null,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"5\"){\n    return [null,null,null,null,msg,null,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"6\"){\n    return [null,null,null,null,null,msg,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"7\"){\n    return [null,null,null,null,null,null,msg,null,null,null,null,null,null,null,null];\n}\nif (room==\"8\"){\n    return [null,null,null,null,null,null,null,msg,null,null,null,null,null,null,null];\n}\nif (room==\"9\"){\n    return [null,null,null,null,null,null,null,null,msg,null,null,null,null,null,null];\n}\nif (room==\"10\"){\n    return [null,null,null,null,null,null,null,null,null,msg,null,null,null,null,null];\n}\nif (room==\"11\"){\n    return [null,null,null,null,null,null,null,null,null,null,msg,null,null,null,null];\n}\nif (room==\"12\"){\n    return [null,null,null,null,null,null,null,null,null,null,null,msg,null,null,null];\n}\nif (room==\"13\"){\n    return [null,null,null,null,null,null,null,null,null,null,null,null,msg,null,null];\n}\nif (room==\"14\"){\n    return [null,null,null,null,null,null,null,null,null,null,null,null,null,msg,null];\n}\nif (room==\"15\"){\n    return [null,null,null,null,null,null,null,null,null,null,null,null,null,null,msg];\n}\n//var lot_nr = msg.payload;\n//var room = (lot_nr.charAt(6)+lot_nr.charAt(7));\n//\n//if (room==\"01\"){\n//    return [msg,null,null,null,null,null,null,null,null,null,null,null,null,null,null];\n//}\n//if (room==\"02\"){\n//    return [null,msg,null,null,null,null,null,null,null,null,null,null,null,null,null];\n//}\n//if (room==\"03\"){\n//    return [null,null,msg,null,null,null,null,null,null,null,null,null,null,null,null];\n//}\n//if (room==\"04\"){\n//    return [null,null,null,msg,null,null,null,null,null,null,null,null,null,null,null];\n//}\n//if (room==\"05\"){\n//    return [null,null,null,null,msg,null,null,null,null,null,null,null,null,null,null];\n//}\n//if (room==\"06\"){\n//    return [null,null,null,null,null,msg,null,null,null,null,null,null,null,null,null];\n//}\n//if (room==\"07\"){\n//    return [null,null,null,null,null,null,msg,null,null,null,null,null,null,null,null];\n//}\n//if (room==\"08\"){\n//    return [null,null,null,null,null,null,null,msg,null,null,null,null,null,null,null];\n//}\n//if (room==\"09\"){\n//    return [null,null,null,null,null,null,null,null,msg,null,null,null,null,null,null];\n//}\n//if (room==\"10\"){\n//    return [null,null,null,null,null,null,null,null,null,msg,null,null,null,null,null];\n//}\n//if (room==\"11\"){\n//    return [null,null,null,null,null,null,null,null,null,null,msg,null,null,null,null];\n//}\n//if (room==\"12\"){\n//    return [null,null,null,null,null,null,null,null,null,null,null,msg,null,null,null];\n//}\n//if (room==\"13\"){\n//    return [null,null,null,null,null,null,null,null,null,null,null,null,msg,null,null];\n//}\n//if (room==\"14\"){\n//    return [null,null,null,null,null,null,null,null,null,null,null,null,null,msg,null];\n//}\n//if (room==\"15\"){\n//    return [null,null,null,null,null,null,null,null,null,null,null,null,null,null,msg];\n//}","outputs":15,"noerr":0,"initialize":"","finalize":"","x":1140,"y":300,"wires":[["12b0d005.feb45"],["e74cce39.7f4d1"],["da84e57f.7c5958"],["db272fce.030d8"],["de3d4fbf.5ece8"],["4880669b.eb8838"],["4bff525.006e9ac"],["79e6b06c.3824e"],["6840802a.cbb72"],["486bb4b4.52acbc"],["1620026d.002dde"],["1acb0c89.e65fd3"],["89297f0b.fbc5b"],["453a330.5edf4cc"],["9596e632.436268"]]},{"id":"e74cce39.7f4d1","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_room2","topic":"ItemCommand","payload":"","x":1370,"y":100,"wires":[[]]},{"id":"da84e57f.7c5958","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_room3","topic":"ItemCommand","payload":"","x":1370,"y":140,"wires":[[]]},{"id":"db272fce.030d8","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_room4","topic":"ItemCommand","payload":"","x":1370,"y":180,"wires":[[]]},{"id":"de3d4fbf.5ece8","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_room5","topic":"ItemCommand","payload":"","x":1370,"y":220,"wires":[[]]},{"id":"4880669b.eb8838","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_room6","topic":"ItemCommand","payload":"","x":1370,"y":260,"wires":[[]]},{"id":"4bff525.006e9ac","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_room7","topic":"ItemCommand","payload":"","x":1370,"y":300,"wires":[[]]},{"id":"79e6b06c.3824e","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_room8","topic":"ItemCommand","payload":"","x":1370,"y":340,"wires":[[]]},{"id":"6840802a.cbb72","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_room9","topic":"ItemCommand","payload":"","x":1370,"y":380,"wires":[[]]},{"id":"486bb4b4.52acbc","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_room10","topic":"ItemCommand","payload":"","x":1380,"y":420,"wires":[[]]},{"id":"1620026d.002dde","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_room11","topic":"ItemCommand","payload":"","x":1380,"y":460,"wires":[[]]},{"id":"1acb0c89.e65fd3","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_room12","topic":"ItemCommand","payload":"","x":1380,"y":500,"wires":[[]]},{"id":"89297f0b.fbc5b","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_room13","topic":"ItemCommand","payload":"","x":1380,"y":540,"wires":[[]]},{"id":"453a330.5edf4cc","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_room14","topic":"ItemCommand","payload":"","x":1380,"y":580,"wires":[[]]},{"id":"9596e632.436268","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_room15","topic":"ItemCommand","payload":"","x":1380,"y":620,"wires":[[]]},{"id":"b08b52c6.34ea8","type":"inject","z":"e3dee416.c498b8","name":"Testing inputs","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"lot_nr_new_room1","payload":"","payloadType":"str","x":190,"y":680,"wires":[[]]},{"id":"81c198d8.6fe3f8","type":"function","z":"e3dee416.c498b8","name":"","func":"var item = msg.topic;\nvar room = (item.charAt(15)+item.charAt(16));\nif (room==\"1\"){\n    return [msg,null,null,null,null,null,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"2\"){\n    return [null,msg,null,null,null,null,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"3\"){\n    return [null,null,msg,null,null,null,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"4\"){\n    return [null,null,null,msg,null,null,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"5\"){\n    return [null,null,null,null,msg,null,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"6\"){\n    return [null,null,null,null,null,msg,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"7\"){\n    return [null,null,null,null,null,null,msg,null,null,null,null,null,null,null,null];\n}\nif (room==\"8\"){\n    return [null,null,null,null,null,null,null,msg,null,null,null,null,null,null,null];\n}\nif (room==\"9\"){\n    return [null,null,null,null,null,null,null,null,msg,null,null,null,null,null,null];\n}\nif (room==\"10\"){\n    return [null,null,null,null,null,null,null,null,null,msg,null,null,null,null,null];\n}\nif (room==\"11\"){\n    return [null,null,null,null,null,null,null,null,null,null,msg,null,null,null,null];\n}\nif (room==\"12\"){\n    return [null,null,null,null,null,null,null,null,null,null,null,msg,null,null,null];\n}\nif (room==\"13\"){\n    return [null,null,null,null,null,null,null,null,null,null,null,null,msg,null,null];\n}\nif (room==\"14\"){\n    return [null,null,null,null,null,null,null,null,null,null,null,null,null,msg,null];\n}\nif (room==\"15\"){\n    return [null,null,null,null,null,null,null,null,null,null,null,null,null,null,msg];\n}","outputs":15,"noerr":0,"initialize":"","finalize":"","x":1140,"y":940,"wires":[["b7021678.79f348"],["d58616e8.362538"],["1f127cdb.e8a7a3"],["a64916ee.550ba8"],["41359cff.63fc64"],["ea90961b.ee4ea8"],["b11bb835.ccb2b8"],["98700d88.5dac7"],["f51081b9.0130b"],["5568db.6b4f6724"],["e809bc3a.b0563"],["ccdd7ca.162098"],["62181f0e.55f51"],["4847204d.dd78d"],["3fa753de.7b1dec"]]},{"id":"b7021678.79f348","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room1","topic":"ItemCommand","payload":"","x":1390,"y":680,"wires":[[]]},{"id":"d58616e8.362538","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room2","topic":"ItemCommand","payload":"","x":1390,"y":720,"wires":[[]]},{"id":"1f127cdb.e8a7a3","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room3","topic":"ItemCommand","payload":"","x":1390,"y":760,"wires":[[]]},{"id":"df842b9d.837528","type":"openhab2-in","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room4","x":170,"y":180,"wires":[["ee71851.3b97a78"],[]]},{"id":"30d7e8ed.8b6028","type":"openhab2-in","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room5","x":170,"y":220,"wires":[["ee71851.3b97a78"],[]]},{"id":"df359c60.ed1bc","type":"openhab2-in","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room6","x":170,"y":260,"wires":[["ee71851.3b97a78"],[]]},{"id":"85add6d5.19fd58","type":"openhab2-in","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room7","x":170,"y":300,"wires":[["ee71851.3b97a78"],[]]},{"id":"6f57566c.2f0c08","type":"openhab2-in","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room8","x":170,"y":340,"wires":[["ee71851.3b97a78"],[]]},{"id":"43114d54.945fc4","type":"openhab2-in","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room9","x":170,"y":380,"wires":[["ee71851.3b97a78"],[]]},{"id":"91b06f7c.5b147","type":"openhab2-in","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room10","x":170,"y":420,"wires":[["ee71851.3b97a78"],[]]},{"id":"6829cb75.a8d684","type":"openhab2-in","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room11","x":170,"y":460,"wires":[["ee71851.3b97a78"],[]]},{"id":"d7c75ea.bdddea","type":"openhab2-in","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room12","x":170,"y":500,"wires":[["ee71851.3b97a78"],[]]},{"id":"51ae2c1.99c2fd4","type":"openhab2-in","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room13","x":170,"y":540,"wires":[["ee71851.3b97a78"],[]]},{"id":"2092ca52.c81fc6","type":"openhab2-in","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room14","x":170,"y":580,"wires":[["ee71851.3b97a78"],[]]},{"id":"d878c3fc.097a8","type":"openhab2-in","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room15","x":170,"y":620,"wires":[["ee71851.3b97a78"],[]]},{"id":"a64916ee.550ba8","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room4","topic":"ItemCommand","payload":"","x":1390,"y":800,"wires":[[]]},{"id":"41359cff.63fc64","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room5","topic":"ItemCommand","payload":"","x":1390,"y":840,"wires":[[]]},{"id":"ea90961b.ee4ea8","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room6","topic":"ItemCommand","payload":"","x":1390,"y":880,"wires":[[]]},{"id":"b11bb835.ccb2b8","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room7","topic":"ItemCommand","payload":"","x":1390,"y":920,"wires":[[]]},{"id":"98700d88.5dac7","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room8","topic":"ItemCommand","payload":"","x":1390,"y":960,"wires":[[]]},{"id":"f51081b9.0130b","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room9","topic":"ItemCommand","payload":"","x":1390,"y":1000,"wires":[[]]},{"id":"5568db.6b4f6724","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room10","topic":"ItemCommand","payload":"","x":1400,"y":1040,"wires":[[]]},{"id":"e809bc3a.b0563","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room11","topic":"ItemCommand","payload":"","x":1390,"y":1080,"wires":[[]]},{"id":"ccdd7ca.162098","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room12","topic":"ItemCommand","payload":"","x":1400,"y":1120,"wires":[[]]},{"id":"62181f0e.55f51","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room13","topic":"ItemCommand","payload":"","x":1400,"y":1160,"wires":[[]]},{"id":"4847204d.dd78d","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room14","topic":"ItemCommand","payload":"","x":1400,"y":1200,"wires":[[]]},{"id":"3fa753de.7b1dec","type":"openhab2-out","z":"e3dee416.c498b8","name":"","controller":"fef22581.97f048","itemname":"lot_nr_new_room15","topic":"ItemCommand","payload":"","x":1400,"y":1240,"wires":[[]]},{"id":"b6b29f85.35226","type":"switch","z":"53aa0fd3.fabf8","name":"Startbedingung","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":300,"wires":[["b8ac1dc0.bc2a7"]]},{"id":"b8ac1dc0.bc2a7","type":"function","z":"53aa0fd3.fabf8","name":"DEC2BIN","func":"var level = msg.payload;\nif (level < 42){ \n    msg.payload = (level >>> 0).toString(2);\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":200,"wires":[["49d189be.65fee8"]]},{"id":"ee71851.3b97a78","type":"switch","z":"e3dee416.c498b8","name":"=! illegal-room-Nr","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"illegal-room-Nr","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":300,"wires":[["d5dbd161.71dd4"]]},{"id":"525f6e0e.aa41f","type":"inject","z":"53aa0fd3.fabf8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"12","payloadType":"str","x":70,"y":300,"wires":[["b6b29f85.35226","acdbe972.05a0b8"]]},{"id":"49d189be.65fee8","type":"function","z":"53aa0fd3.fabf8","name":"","func":"var register = msg.payload;\nreg = register.split(\"\");\nmsg = {payload:reg,topic:msg.item};\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":300,"wires":[["82332b5e.ca9d68"]]},{"id":"82332b5e.ca9d68","type":"debug","z":"53aa0fd3.fabf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":780,"y":300,"wires":[]},{"id":"acdbe972.05a0b8","type":"split","z":"53aa0fd3.fabf8","name":"","splt":"[]","spltType":"bin","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":810,"y":460,"wires":[["82332b5e.ca9d68"]]},{"id":"14dc6254.0af80e","type":"openhab2-in","z":"9c64235d.6d5cc","name":"","controller":"fef22581.97f048","itemname":"lot_nr_timestamp_room1","x":150,"y":80,"wires":[["28fc64ce.19928c"],[]]},{"id":"8b6128a5.609558","type":"openhab2-in","z":"9c64235d.6d5cc","name":"","controller":"fef22581.97f048","itemname":"lot_nr_timestamp_room2","x":150,"y":120,"wires":[["28fc64ce.19928c"],[]]},{"id":"584c3390.8a20cc","type":"openhab2-in","z":"9c64235d.6d5cc","name":"","controller":"fef22581.97f048","itemname":"lot_nr_timestamp_room3","x":150,"y":160,"wires":[["28fc64ce.19928c"],[]]},{"id":"2b11d3f1.4e30dc","type":"openhab2-out","z":"9c64235d.6d5cc","name":"","controller":"fef22581.97f048","itemname":"lot_nr_timestamp_room1","topic":"ItemCommand","payload":"","x":1250,"y":80,"wires":[[]]},{"id":"383e4297.8ef84e","type":"openhab2-out","z":"9c64235d.6d5cc","name":"","controller":"fef22581.97f048","itemname":"lot_nr_timestamp_room2","topic":"ItemCommand","payload":"","x":1250,"y":120,"wires":[[]]},{"id":"a1195564.cc81d8","type":"openhab2-out","z":"9c64235d.6d5cc","name":"","controller":"fef22581.97f048","itemname":"lot_nr_timestamp_room3","topic":"ItemCommand","payload":"","x":1250,"y":160,"wires":[[]]},{"id":"28d8f564.d6835a","type":"function","z":"9c64235d.6d5cc","name":"","func":"let t = new Date(msg.datetime);\nvar timestamp\nif (msg.payload.length < 1) {\n    var newtimestamp = t.toLocaleString();\n    var timestamparray = newtimestamp.split(\"/\",3);\n    var timestampyear = timestamparray[2];\n    var timestampmonth = timestamparray[0];\n    var timestampday = timestamparray[1];\n    timestampyear = timestampyear.substr(0,4)\n    timestamp = (timestampyear + \"/\" + timestampmonth + \"/\" + timestampday + \"/0\" + \"/0\" + \"/0\");\n    msg = {payload:timestamp,topic:msg.item};\n    return msg;\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":300,"wires":[["db53e2a5.48b8b","9e21e910.bcfed8"]]},{"id":"db53e2a5.48b8b","type":"debug","z":"9c64235d.6d5cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":460,"wires":[]},{"id":"4575776e.b6bd38","type":"inject","z":"9c64235d.6d5cc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2020/9/22/0/0/0","payloadType":"str","x":860,"y":520,"wires":[["2b11d3f1.4e30dc","383e4297.8ef84e","a1195564.cc81d8","5896d98e.076fa8","645720f4.04aac","942d0152.459fa","3bdd7198.1272de","1d218b66.863715","137f7e6b.f3b042","80bbef1e.497e8","c5a602ad.000e3","a8e10bdc.50a898","9a5c7fee.9c23a","b595f50e.9b9a88","fbc8f1a8.07101"]]},{"id":"5896d98e.076fa8","type":"openhab2-out","z":"9c64235d.6d5cc","name":"","controller":"fef22581.97f048","itemname":"lot_nr_timestamp_room4","topic":"ItemCommand","payload":"","x":1250,"y":200,"wires":[[]]},{"id":"645720f4.04aac","type":"openhab2-out","z":"9c64235d.6d5cc","name":"","controller":"fef22581.97f048","itemname":"lot_nr_timestamp_room5","topic":"ItemCommand","payload":"","x":1250,"y":240,"wires":[[]]},{"id":"942d0152.459fa","type":"openhab2-out","z":"9c64235d.6d5cc","name":"","controller":"fef22581.97f048","itemname":"lot_nr_timestamp_room6","topic":"ItemCommand","payload":"","x":1250,"y":280,"wires":[[]]},{"id":"3bdd7198.1272de","type":"openhab2-out","z":"9c64235d.6d5cc","name":"","controller":"fef22581.97f048","itemname":"lot_nr_timestamp_room7","topic":"ItemCommand","payload":"","x":1250,"y":320,"wires":[[]]},{"id":"1d218b66.863715","type":"openhab2-out","z":"9c64235d.6d5cc","name":"","controller":"fef22581.97f048","itemname":"lot_nr_timestamp_room8","topic":"ItemCommand","payload":"","x":1250,"y":360,"wires":[[]]},{"id":"137f7e6b.f3b042","type":"openhab2-out","z":"9c64235d.6d5cc","name":"","controller":"fef22581.97f048","itemname":"lot_nr_timestamp_room9","topic":"ItemCommand","payload":"","x":1250,"y":400,"wires":[[]]},{"id":"80bbef1e.497e8","type":"openhab2-out","z":"9c64235d.6d5cc","name":"","controller":"fef22581.97f048","itemname":"lot_nr_timestamp_room10","topic":"ItemCommand","payload":"","x":1250,"y":440,"wires":[[]]},{"id":"c5a602ad.000e3","type":"openhab2-out","z":"9c64235d.6d5cc","name":"","controller":"fef22581.97f048","itemname":"lot_nr_timestamp_room11","topic":"ItemCommand","payload":"","x":1250,"y":480,"wires":[[]]},{"id":"a8e10bdc.50a898","type":"openhab2-out","z":"9c64235d.6d5cc","name":"","controller":"fef22581.97f048","itemname":"lot_nr_timestamp_room12","topic":"ItemCommand","payload":"","x":1250,"y":520,"wires":[[]]},{"id":"9a5c7fee.9c23a","type":"openhab2-out","z":"9c64235d.6d5cc","name":"","controller":"fef22581.97f048","itemname":"lot_nr_timestamp_room13","topic":"ItemCommand","payload":"","x":1250,"y":560,"wires":[[]]},{"id":"b595f50e.9b9a88","type":"openhab2-out","z":"9c64235d.6d5cc","name":"","controller":"fef22581.97f048","itemname":"lot_nr_timestamp_room14","topic":"ItemCommand","payload":"","x":1250,"y":600,"wires":[[]]},{"id":"fbc8f1a8.07101","type":"openhab2-out","z":"9c64235d.6d5cc","name":"","controller":"fef22581.97f048","itemname":"lot_nr_timestamp_room15","topic":"ItemCommand","payload":"","x":1250,"y":640,"wires":[[]]},{"id":"28fc64ce.19928c","type":"change","z":"9c64235d.6d5cc","name":"Zeitstempel setzten","rules":[{"t":"set","p":"datetime","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":300,"wires":[["28d8f564.d6835a"]]},{"id":"9e21e910.bcfed8","type":"function","z":"9c64235d.6d5cc","name":"","func":"var item = msg.topic;\nvar room = (item.charAt(21)+item.charAt(22));\nif (room==\"1\"){\n    return [msg,null,null,null,null,null,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"2\"){\n    return [null,msg,null,null,null,null,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"3\"){\n    return [null,null,msg,null,null,null,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"4\"){\n    return [null,null,null,msg,null,null,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"5\"){\n    return [null,null,null,null,msg,null,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"6\"){\n    return [null,null,null,null,null,msg,null,null,null,null,null,null,null,null,null];\n}\nif (room==\"7\"){\n    return [null,null,null,null,null,null,msg,null,null,null,null,null,null,null,null];\n}\nif (room==\"8\"){\n    return [null,null,null,null,null,null,null,msg,null,null,null,null,null,null,null];\n}\nif (room==\"9\"){\n    return [null,null,null,null,null,null,null,null,msg,null,null,null,null,null,null];\n}\nif (room==\"10\"){\n    return [null,null,null,null,null,null,null,null,null,msg,null,null,null,null,null];\n}\nif (room==\"11\"){\n    return [null,null,null,null,null,null,null,null,null,null,msg,null,null,null,null];\n}\nif (room==\"12\"){\n    return [null,null,null,null,null,null,null,null,null,null,null,msg,null,null,null];\n}\nif (room==\"13\"){\n    return [null,null,null,null,null,null,null,null,null,null,null,null,msg,null,null];\n}\nif (room==\"14\"){\n    return [null,null,null,null,null,null,null,null,null,null,null,null,null,msg,null];\n}\nif (room==\"15\"){\n    return [null,null,null,null,null,null,null,null,null,null,null,null,null,null,msg];\n}\n//var lot_nr = msg.payload;\n//var room = (lot_nr.charAt(6)+lot_nr.charAt(7));\n//\n//if (room==\"01\"){\n//    return [msg,null,null,null,null,null,null,null,null,null,null,null,null,null,null];\n//}\n//if (room==\"02\"){\n//    return [null,msg,null,null,null,null,null,null,null,null,null,null,null,null,null];\n//}\n//if (room==\"03\"){\n//    return [null,null,msg,null,null,null,null,null,null,null,null,null,null,null,null];\n//}\n//if (room==\"04\"){\n//    return [null,null,null,msg,null,null,null,null,null,null,null,null,null,null,null];\n//}\n//if (room==\"05\"){\n//    return [null,null,null,null,msg,null,null,null,null,null,null,null,null,null,null];\n//}\n//if (room==\"06\"){\n//    return [null,null,null,null,null,msg,null,null,null,null,null,null,null,null,null];\n//}\n//if (room==\"07\"){\n//    return [null,null,null,null,null,null,msg,null,null,null,null,null,null,null,null];\n//}\n//if (room==\"08\"){\n//    return [null,null,null,null,null,null,null,msg,null,null,null,null,null,null,null];\n//}\n//if (room==\"09\"){\n//    return [null,null,null,null,null,null,null,null,msg,null,null,null,null,null,null];\n//}\n//if (room==\"10\"){\n//    return [null,null,null,null,null,null,null,null,null,msg,null,null,null,null,null];\n//}\n//if (room==\"11\"){\n//    return [null,null,null,null,null,null,null,null,null,null,msg,null,null,null,null];\n//}\n//if (room==\"12\"){\n//    return [null,null,null,null,null,null,null,null,null,null,null,msg,null,null,null];\n//}\n//if (room==\"13\"){\n//    return [null,null,null,null,null,null,null,null,null,null,null,null,msg,null,null];\n//}\n//if (room==\"14\"){\n//    return [null,null,null,null,null,null,null,null,null,null,null,null,null,msg,null];\n//}\n//if (room==\"15\"){\n//    return [null,null,null,null,null,null,null,null,null,null,null,null,null,null,msg];\n//}","outputs":15,"noerr":0,"initialize":"","finalize":"","x":840,"y":300,"wires":[["2b11d3f1.4e30dc"],["383e4297.8ef84e"],["a1195564.cc81d8"],["5896d98e.076fa8"],["645720f4.04aac"],["942d0152.459fa"],["3bdd7198.1272de"],["1d218b66.863715"],["137f7e6b.f3b042"],["80bbef1e.497e8"],["c5a602ad.000e3"],["a8e10bdc.50a898"],["9a5c7fee.9c23a"],["b595f50e.9b9a88"],["fbc8f1a8.07101"]]},{"id":"c0c7baf7.935468","type":"openhab2-in","z":"9c64235d.6d5cc","name":"","controller":"fef22581.97f048","itemname":"lot_nr_timestamp_room4","x":150,"y":200,"wires":[["28fc64ce.19928c"],[]]},{"id":"1a6cbc89.fb1393","type":"openhab2-in","z":"9c64235d.6d5cc","name":"","controller":"fef22581.97f048","itemname":"lot_nr_timestamp_room5","x":150,"y":240,"wires":[["28fc64ce.19928c"],[]]},{"id":"370fb9dc.129626","type":"openhab2-in","z":"9c64235d.6d5cc","name":"","controller":"fef22581.97f048","itemname":"lot_nr_timestamp_room6","x":150,"y":280,"wires":[["28fc64ce.19928c"],[]]},{"id":"e882cd8b.db39f","type":"openhab2-in","z":"9c64235d.6d5cc","name":"","controller":"fef22581.97f048","itemname":"lot_nr_timestamp_room7","x":150,"y":320,"wires":[["28fc64ce.19928c"],[]]},{"id":"1c34a588.5747aa","type":"openhab2-in","z":"9c64235d.6d5cc","name":"","controller":"fef22581.97f048","itemname":"lot_nr_timestamp_room8","x":150,"y":360,"wires":[["28fc64ce.19928c"],[]]},{"id":"b543b284.35fdf","type":"openhab2-in","z":"9c64235d.6d5cc","name":"","controller":"fef22581.97f048","itemname":"lot_nr_timestamp_room9","x":150,"y":400,"wires":[["28fc64ce.19928c"],[]]},{"id":"795b8fa0.e03cd","type":"openhab2-in","z":"9c64235d.6d5cc","name":"","controller":"fef22581.97f048","itemname":"lot_nr_timestamp_room10","x":150,"y":440,"wires":[["28fc64ce.19928c"],[]]},{"id":"e77aca56.dda7f8","type":"openhab2-in","z":"9c64235d.6d5cc","name":"","controller":"fef22581.97f048","itemname":"lot_nr_timestamp_room11","x":150,"y":480,"wires":[["28fc64ce.19928c"],[]]},{"id":"6dc3932.f38b96c","type":"openhab2-in","z":"9c64235d.6d5cc","name":"","controller":"fef22581.97f048","itemname":"lot_nr_timestamp_room12","x":150,"y":520,"wires":[["28fc64ce.19928c"],[]]},{"id":"55f70b69.4d1aa4","type":"openhab2-in","z":"9c64235d.6d5cc","name":"","controller":"fef22581.97f048","itemname":"lot_nr_timestamp_room13","x":150,"y":560,"wires":[["28fc64ce.19928c"],[]]},{"id":"a5f577ee.16e2e8","type":"openhab2-in","z":"9c64235d.6d5cc","name":"","controller":"fef22581.97f048","itemname":"lot_nr_timestamp_room14","x":150,"y":600,"wires":[["28fc64ce.19928c"],[]]},{"id":"ce65e2.97f42a2","type":"openhab2-in","z":"9c64235d.6d5cc","name":"","controller":"fef22581.97f048","itemname":"lot_nr_timestamp_room15","x":150,"y":640,"wires":[["28fc64ce.19928c"],[]]}]